<div class="info-container">
  <h2>Curriculum Vitae</h2>
  <ul>
    <li><strong>Education:</strong></li>
    <li>Master of Science in Physician Assistant Studies, XYZ University, 2010</li>
    <li>Bachelor of Science in Biology, ABC University, 2006</li>
    
    <li><strong>Certifications:</strong></li>
    <li>Certified Physician Assistant (PA-C) by the NCCPA, 2010 - Present</li>
    <li>Basic Life Support (BLS) Certification</li>
    <li>Advanced Cardiovascular Life Support (ACLS) Certification</li>

    <li><strong>Professional Memberships:</strong></li>
    <li>Member, American Academy of Physician Assistants (AAPA)</li>
    <li>Member, State Physician Assistant Society</li>
  </ul>
</div>

<div class="info-container">
  <h2>Professional Experience</h2>
  <ul>
    <li><strong>Senior Physician Assistant</strong>, Health Clinic, Wellness City, 2015 - Present</li>
    <li>Provide comprehensive primary care services, including diagnosis, treatment, and follow-up care for diverse patient populations.</li>
    <li>Specialize in dermatological care, managing skin conditions, performing minor procedures, and providing patient education.</li>
    <li>Collaborate with a multidisciplinary team to deliver holistic patient care.</li>

    <li><strong>Physician Assistant</strong>, Family Practice, Hometown, 2010 - 2015</li>
    <li>Conducted patient examinations, diagnosed illnesses, and developed treatment plans under the supervision of a physician.</li>
    <li>Managed chronic conditions, performed routine health screenings, and promoted preventive health measures.</li>
    <li>Provided patient education on healthy lifestyles and disease management.</li>

    <li><strong>Clinical Rotations</strong>, Various Locations, 2008 - 2010</li>
    <li>Completed clinical rotations in diverse medical fields, including internal medicine, pediatrics, emergency medicine, and surgery.</li>
    <li>Gained hands-on experience in patient care, diagnostics, and medical procedures.</li>
  </ul>
</div>
