

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Header */
header {
    background-color: #f1dac4;
    color: #fff; 
    padding: 10px 20px;
  }
  
  #logo_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #left-container, #middle-container, #right-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .site-title {
    color: #474973;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  
  /* Logos */
  .se-icon svg {
    width: 24px; /* Adjust size */
    height: 24px; /* Adjust size */
    fill: #474973; 
    transition: fill 0.3s ease; /* Smooth transition effect */
  }
  
  .se-icon:hover svg {
    fill:  #007bff; 
  }
  
  /* Main */
  main {
    flex: 1; /* Take remaining vertical space */
    padding: 20px;
    background-color: #f1dac4;
  }
  
  /* Footer */
  footer {
    background-color: rgb(244, 218, 196); 
    color: #474973; 
    text-align: center;
    padding: 10px 20px; /* Padding for better spacing */
  }
  
  /* Mobile Styles */
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
    }
  
    #logo_container {
      flex-direction: row;
    }
  
    .site-title {
      font-size: 20px;
    }
  
    #left-container,
    #right-container {
      justify-content: center;
    }

    footer {
      font-size: 14px; /* Decrease font size for smaller screens */
    }
  }